/* Source: https://codepen.io/philbaker/pen/MBrVwQ */
/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
    background: #BE4C54;
  }
  
  /* Mark valid inputs during .invalid state */
  .invalid input:required:valid {
    background: #17D654;
  }

  .security-question-dropdown{
    padding-bottom: 10px;
  }

  .small-text{
      font-size: smaller;
  }